.wrapper {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 16px;
  cursor: pointer;
  justify-content: space-between;
}

.wrapper:hover {
  box-shadow: 0 4px 32px 0 var(--color-blue-dark);
  transition: box-shadow 0.5s;
}

.image {
  object-fit: cover;
  height: 300px;
  width: 100%;
  align-self: center;
}

.price {
  font-weight: 700;
  color: var(--color-blue-dark);
  font-size: 16px;
}

.muted {
  color: gray;
}

.product {
  color: black;
}
