.link {
  padding: 16px;
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
  min-width: 150px;
  background-color: rgb(10 95 119);
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  text-align: center;
}
